coordimap:
  api_key: ${COORDIMAP_API_KEY}
  data_sources:
    - type: aws
      id: aws1
      config:
      - name: scope_id
        value: \"your-aws-account-id\"
      - name: policy_config
        value: "true"
      - name: access_key_id 
        value: ${ACCESS_KEY_ID}
      - name: secret_access_key
        value: ${SECRET_ACCSS_KEY}
      - name: crawl_interval
        value: 30s
    - type: postgres
      id: post1
      config:
        - name: scope_id
          value: \"your-postgres-system-identifier\"
        - name: db_name
          value: dbname1
        - name: db_host
          value: host1
        - name: db_user
          value: user1
        - name: db_pass
          value: pass1
        - name: crawl_interval
          value: 30s
    - type: kubernetes
      id: kube1
      config:
      - name: scope_id
        value: \"your_k8s_cluster_uid\"
      - name: in_cluster
        value: "false"
      - name: config_file
        value: /home/user/.kube/config
      - name: crawl_interval
        value: 30s
    - type: aws_flow_logs
      id: flowlog1
      config:
      - name: scope_id
        value: \"your-aws-account-id\"
      - name: log_format
        value: all
      - name: log_type
        value: S3
      - name: account_id
        value: 123456789
      - name: bucket_name
        value: flowlogs-bucket
      - name: region
        value: eu-central-1
      - name: access_key_id 
        value: ${ACCESS_KEY_ID}
      - name: secret_access_key
        value: ${SECRET_ACCSS_KEY}
      - name: crawl_interval
        value: 30s
    - type: mongodb
      id: mongo-atlas
      config:
      - name: scope_id
        value: \"your-replica-set-id\"
      - name: db_name
        value: "*"
      - name: db_host
        value: hostname
      - name: db_user
        value: user
      - name: db_pass
        value: password
      - name: crawl_interval
        value: 30s
    
